---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Contáctanos | Mesa Turística de Loja"
  description="¿Tienes alguna pregunta o sugerencia? ¡Contáctanos! Estamos aquí para ayudarte."
>
  <section class="h-[calc(100dvh-160px)]"></section>
</Layout>