---
import AssociatePosition from "@/components/AssociatePosition.astro";
---

<div class="flex flex-col items-center mb-16">
  <h3 class="text-4xl font-bold text-balance mb-8">Nivel Administrativo</h3>
  <div class="flex gap-4 max-md:flex-col">
    <AssociatePosition
      position="Secretaría"
      name="Msc. Yanina Guamán Camacho"
    />
    <AssociatePosition
      position="Tesorera"
      name="Econ. Diana Torres Neira"
    />
  </div>
</div>