---
import FacebookIcon from "@/icons/FacebookIcon.astro";
import InstagramOutlineIcon from "@/icons/InstagramOutlineIcon.astro";
import TwitterIcon from "@/icons/TwitterIcon.astro";
import YoutubeIcon from "@/icons/YoutubeIcon.astro";
---



<footer class="bg-black text-white">
  <div class="flex container items-center justify-between p-8">
    <span class="font-black">Mesa Turistica de Loja</span>
    <div class="flex gap-4">
      <a href="https://facebook.com/profile.php?id=100090073015719&mibextid=ZbWKwL" class="transition hover:scale-125 hover:text-white text-neutral-300 p-2" target="_blank" rel="noreferrer nofollow">
        <FacebookIcon />
      </a>
      <a href="https://x.com/mesaturisloja" class="transition hover:scale-125 hover:text-white text-neutral-300 p-2" target="_blank" rel="noreferrer nofollow">
        <TwitterIcon />
      </a>
      <a href="https://www.youtube.com/@MesaTur%C3%ADsticaLoja" class="transition hover:scale-125 hover:text-white text-neutral-300 p-2" target="_blank" rel="noreferrer nofollow">
        <YoutubeIcon />
      </a>
      <a href="https://www.instagram.com/mesaturisticaloja/" class="transition hover:scale-125 hover:text-white text-neutral-300 p-2" target="_blank" rel="noreferrer nofollow">
        <InstagramOutlineIcon />
      </a>
    </div>
  </div>
  <div class="text-center p-4 text-white bg-neutral-800">
    Desarrollado por <a href="https://hanalab.vercel.app" class="text-blue-500">Hanalab</a>
  </div>
</footer>