---
import DirectiveLevelCharges from "@/components/DirectiveLevelCharges.astro";
import AdministrativeLevelCharges from "@/components/AdministrativeLevelCharges.astro";
import TechnicalLevelCharges from "@/components/TechnicalLevelCharges.astro";
---

<section class="pt-32 pb-64">
  <div class="container">
    <h2 class="text-center text-balance font-bold text-6xl mb-8">Estructura Organizacional</h2>
    <p class="text-neutral-800 max-w-xl text-center mx-auto text-pretty mb-16">
      La estructura organizacional de la empresa se divide en dos niveles: Directivo y Administrativo. En el nivel directivo se encuentran los cargos de Presidente y Vicepresidente, mientras que en el nivel administrativo se encuentran los cargos de Gerente General y Gerente de Operaciones.
    </p>

    <img class="mx-auto max-w-lg rounded-xl mb-32" src="/structure-mtdl.webp" alt="Socios administrativos de la mesa turistica de loja" />

    <div class="flex justify-center gap-32 mb-16 max-md:flex-col">
      <DirectiveLevelCharges />
      <AdministrativeLevelCharges />
    </div>

    <TechnicalLevelCharges />
  </div>
</section>