---
import GridContainer from './GridContainer.astro'

interface Props {
  title: string
}

const { title } = Astro.props
---

<section class="pt-32 pb-16">
  <div class="container">
    <h2 class="text-neutral-700 text-5xl text-balance max-w-xl font-bold mb-16">{title}</h2>
    <GridContainer minWidth="300px" gap="1rem">
      <slot />  
    </GridContainer>
  </div>
</section>