---
interface Props {
  title: string
}

const { title } = Astro.props
---

<section class="pt-32 pb-16">
  <div class="container">
    <h2 class="text-neutral-700 text-5xl text-balance max-w-xl font-bold mb-16">{title}</h2>
    <div class="grid grid-cols-[repeat(auto-fill,minmax(300px,1fr))] gap-4">
      <slot />  
    </div>
  </div>
</section>